@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 400;
}

.Main {
  display: flex;
  flex-direction: row;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 250px;
}

.nuurniital {
  width: 50%;
  flex-shrink: 0;
  border-radius: var(--t--borders-radius-rounded-none, 0px);
  background: var(--d--colors-semantic-primary, #0166ff);
  border: none;
}

.login-form input {
  width: 300px;
  height: 40px;
  margin: 5px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-form button {
  width: 320px;
  height: 40px;
  margin: 10px 0;
  background-color: #0166ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #0166ff;
}

.login-form p {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.login-form a {
  color: #0166ff;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.login-form input {
  width: 300px;
  height: 40px;
  margin: 5px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-form button {
  width: 320px;
  height: 40px;
  margin: 10px 0;
  background-color: #0166ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #0166ff;
}

.login-form p {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.login-form a {
  color: #0166ff;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

.hoyrdhUg {
  color: #334155;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.ngdehug {
  color: #0f172a;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  margin-top: 60px;
}

.aaaaD {
  display: flex;
  flex-direction: column;
}

.prof {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.topmain {
  display: flex;
  gap: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 6vw;
  background-color: white;
  width: 100vw;
}

.dash {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.records {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.top2main {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.buttonRec {
  background-color: #0166ff;
  display: flex;
  border-radius: 20px;
  width: 99px;
  height: 32px;
  border: none;
  gap: 4px;
  justify-content: center;
  padding: 7px 0px 0px 0px;
  margin-top: 5px;
  color: white;
}

.buttonRecc {
  width: 51px;
  height: 24px;
}

.MMAIN {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f4f6;
  padding: 3vw 6vw;
  gap: 5vw;
}

.dashboardOn {
  background-color: #0166ff;
  justify-content: center;
}

.dashboardTwo {
  background-color: white;
  width: 384.12px;
  height: 219.66px;
  border-radius: 16px;
  justify-content: center;
}

.MAAIINN {
  background-color: #f3f4f6;
}

.Stack {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  background-color: #f3f4f6;
  justify-content: center;
}

.urinc {
  margin-top: 20px;
  margin-left: 30px;
}

.twotop {
  border: 0px, 0px, 1px, 0px;
}

.texttt {
  font-size: 36px;
  margin-top: 30px;
}

.textttt {
  margin-top: 10px;
}

.texttttt {
  margin-top: 30px;
}

.Stackk {
  display: flex;
  background-color: #f3f4f6;
  gap: 140px;
  justify-content: center;
}

.middletwo {
  width: 698px;
  height: 56px;
  background-color: white;
  border: 0px, 0px, 1px, 0px;
  margin-top: 25px;
  border-radius: 10px 10px 0px 0px;
}

.middletwoo {
  width: 698px;
  height: 226px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

.middlee {
  display: flex;
  gap: 45px;
  justify-content: center;
}

.bottom {
  margin-top: 30px;
}

.bluecircle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(1, 102, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.containerList {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 15px;
  border-top: 1px solid rgb(148, 148, 148);
  justify-content: center;
  width: 1440px;
  background-color: white;
}

.transactionNoteTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
}

.lastrecords {
  padding: 16px 24px;
  border-bottom: 1px;
  background-color: white;
  width: 1440px;
  border-radius: 10px 10px 0px 0px;
}
.lasst {
  margin-left: 400px;
  overflow: scroll;
  height: 406px;
  border-radius: 10px;
}
.ttlasst {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.ntb {
  background-color: #0166ff;
  border-radius: 20px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  padding: 10px 100px;
  cursor: pointer;
  margin-top: 10px;
}

.Title {
  font-weight: 600px;
  font-size: 24px;
  line-height: 32px;
}
.ttRecords {
  background-color: white;
  border-radius: 12px;
  padding: 30px 20px;
  border: 1px solid rgba(229, 231, 235, 1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ttInput {
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 1);
  padding: var(--t--spacing4);
}
.Title-Small {
  font-weight: 600px;
  font-size: 18px;
  line-height: 32px;
}
.ttCheckBox {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(55, 65, 81, 1);
}
.ttMUI {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 5px;
}
.Type {
  margin: 20px 20px;
}
.ttButton {
  border: none;
  background-color: white;
  width: 97px;
  height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ttone {
  gap: 24px;
}

.ttBarChart {
  width: 100px;
}

.containerListt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 15px;
  width: 100%;
  border-radius: 12px;
  background-color: white;
}

.transactionNoteTitlet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}
.ttlast {
  padding: 16px 24px;
  border-bottom: 1px;
  background-color: white;
  width: 1200px;
  gap: 10px;
}
.ttbluecircle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(1, 102, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ttNtb {
  border: none;
  background-color: white;
}
.flex-center {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: "center";
}
.ttAmount {
  display: flex;
  align-items: center;
}
.ttBlueCircleContainer {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}
.ntbExpense {
  border-radius: 20px;
}
.ntbToggle {
  width: 175px;
}
