@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
}
.Main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 250px;
}
.nuurniital {
  width: 50%;
  flex-shrink: 0;
  border-radius: var(--t--borders-radius-rounded-none, 0px);
  background: var(--d--colors-semantic-primary, #0166ff);
  border: none;
}

.login-form input {
  width: 300px;
  height: 40px;
  margin: 5px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-form button {
  width: 320px;
  height: 40px;
  margin: 10px 0;
  background-color: #0166ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #0166ff;
}

.login-form p {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.login-form a {
  color: #0166ff;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.login-form input {
  width: 300px;
  height: 40px;
  margin: 5px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-form button {
  width: 320px;
  height: 40px;
  margin: 10px 0;
  background-color: #0166ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #0166ff;
}

.login-form p {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.login-form a {
  color: #0166ff;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}
.hoyrdhUg {
  color: #334155;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.ngdehug {
  color: #0f172a;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  margin-top: 60px;
}
.aaaaD {
  display: flex;
  flex-direction: column;
}
.MAIIIN {
  width: 1440px;
}
.prof {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.topmain {
  display: flex;
  gap: 50px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px, 120px, 16px, 120px;
  background-color: white;
  margin-top: 20px;
}
.dash {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.records {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.top2main {
  display: flex;
  gap: 20px;
}
.buttonRec {
  background-color: #0166ff;
  display: flex;
  border-radius: 20px;
  width: 99px;
  height: 32px;
  border: none;
  gap: 4px;
  justify-content: center;
  padding: 7px 0px 0px 0px;
  margin-top: 5px;
  color: white;
}
.buttonRecc {
  width: 51px;
  height: 24px;
}
.MMAIN {
  display: flex;
  justify-content: center;
}
.dashboardOn {
  background-color: #0166ff;
}
.dashboardTwo {
  background-color: white;
  width: 384.12px;
  height: 219.66px;
}
.MAAIINN {
  background-color: #f3f4f6;
}
.Stack {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  background-color: #f3f4f6;
}
.urinc {
  margin-top: 20px;
  margin-left: 30px;
}
.twotop {
  border: 0px, 0px, 1px, 0px;
}
.texttt {
  font-size: 36px;
  margin-top: 30px;
}
.textttt {
  margin-top: 10px;
}
.texttttt {
  margin-top: 30px;
}
.Stackk {
  display: flex;
  background-color: #f3f4f6;
  gap: 140px;
}
